@{
    ViewData["Title"] = "Success";
}

<h1></h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "alert-info col-sm-10">
            New user success!
        </dt>
        
    </dl>
</div>
<div>
    <a asp-controller="Register" asp-action="Register">Voltar para a lista</a>
</div>
